/* Change features as page size decreases*/
@media (max-width: 1190px) {

  body {
    background-color: gray;
  }
  .button1 {
    left: 38%;
    top: 67%;
  }
  .button2 {
      left: 54%;
      top: 67%;
  }
  .headtext
  {
    padding-right: 45%;
  }

}

@media (max-width: 1025px) {

  body {
    background-color: turquoise;
  }
  .button1 {
    left: 38%;
    top: 67%;
  }
  .button2 {
      left: 54%;
      top: 67%;
  }

  .headtext
  {
    padding-right: 36%;
  }

}

@media (max-width: 900px) {

  body {
    font-size: 95%;
    background-color: yellow;
  }
  .headtext
  {
    padding-right: 40%;
  }

}
@media (max-width: 850px) {

  body {
    font-size: 92%;
    background-color: green;
  }

}
@media (max-width: 800px) {

  body {
    font-size: 90%;
    background-color: blue;
  }
  .button1 {
    left: 34%;
    top: 63%;
  }
  .button2 {
      left: 54%;
      top: 63%;
  }

}
@media (max-width: 750px) {

  body {
    font-size: 87%;
    background-color: pink;
  }
  

}
@media (max-width: 700px) {

  body {
    font-size: 85%;
    background-color: purple;
  }
  .button1 {
    left: 33%;
    top: 57%;
  }
  .button2 {
    top: 57%;
  }
  .headtext
  {
    padding-right: 36%;
  }

}
@media (max-width: 650px) {

  body {
    font-size: 82%;
    background-color: red;
  }

}

@media (max-width: 600px) {

  body {
    font-size: 80%;
    background-color: orange;
  }
  .col
  {
    -webkit-column-count: 1; /* Chrome, Safari, Opera */
    -moz-column-count: 1; /* Firefox */
    column-count: 1;
    
  }
   .about
  {
    padding-top: 0%;
  }
  .about2
  {
    padding-top: 0%;
  }
  .space{ padding-bottom: 0%; }

  .iam{top: 23%;}
  
  .title
  {
      top: 20%;
      font-size: 320%;
  }
  .button1 {
      top: 45%;
      left: 31%;
  }
  .button2 {
      top: 45%; }

  .headtext
  {
    padding-right: 30%;
  }

}

@media (max-width: 550px) {

  body {
    font-size: 80%;
    background-color: pink;
  }
  
  .iam{top: 20%;}  
  .title
  {
    top: 17%;
    font-size: 320%;
  }
  .button1 {
    top: 42%;
    left: 30%;
  }
  .button2 {
    top: 42%; }

  .header {
    padding: 5px 20px 5px 40px;
  }

  .headtext
  {
    padding-right: 25%;
  }

}

@media (max-width: 495px) {

  body {
    font-size: 80%;
    background-color: maroon;
  }

  .iam{top: 15%;} 
  .title
  {
      top: 12%;
      font-size: 320%;
  }
  .button1 {
      top: 37%;
      left: 28%;
      
  }
  .button2 {
      top: 37%;
  }

  .header {
  padding: 5px 40px 5px 40px;
  }

  .headtext
  {
    padding-right: 7%;
  }

}


@media (max-width: 412px) {

  body {
    font-size: 80%;
    background-color: cyan;
  }

  .iam{top: 10%;} 
  .title
  {
      top: 10%;
      font-size: 260%;
  }
  .button1 {
      top: 30%;
      left: 22%;
  }
  .button2 {
      top: 30%;
  }

  .header {
  font-size: 85%;
  padding: 5px 40px 5px 40px;
  }

  .headtext
  {

    padding-right: 4%;
  }

}
