body {
  /* Set margin to 0 pixels on all sides */
  margin: 0px;
  /* Set font size to be 20 pixels */
  font-size: 20px;
  /* Set line height to be 1.5 times larger than default */
 /* line-height: 150%;*/

  text-align: justify;

 /* background-image: url('../img/background.jpg');
  background-size: contain;
  background-repeat: no-repeat; */


}
header {
   /*Set text alignment to center */
  text-align: center;

}

main {
  /* Set maximum width to be 800 pixels */
  max-width: 3000px;
  /* Set margin to be automatically calculated on all sides */
  margin: auto;
  /* Set padding to be 0 pixels top & bottom, and 20 pixels left & right *//*Padding is "body fat", whereas margins is "personal space" */
  padding: 0px 0px; /*top AND bottom 0px, left AND right 20px */
}

a
{
  color: inherit;
  text-decoration: none;
}

a:hover
{
  color: #12027c;
  opacity: 1;
}

.container {
    position: fixed;
      z-index: -1;
}

.iam {
    font-family: "Futura", "Trebuchet MS","Book Antiqua", Palatino, sans-serif;
    position: absolute;
    left: 0;
    top: 70%;
    width: 100%;
    text-align: center;
    color: black;
    font-size: 150%;
    /*font-style: oblique;*/
   /*#87F;*/
    text-shadow:  0 0 0.2em white, 0 0 0.2em white, 0 0 0.2em white,0 0 0.2em white;
    font-weight: bolder;
    margin-bottom: 10%;

}
.title
{
    font-family: "Futura", "Trebuchet MS", Arial, sans-serif;
    position: absolute;
    left: 0;
    top: -1%;
    width: 100%;
    text-align: center;
    font-size: 400%;
    color: black;
    text-shadow:  0 0 0.2em white, 0 0 0.2em white, 0 0 0.2em white,0 0 0.2em white;
    font-weight: 700;
}

.titlepic
{
  padding-top: 11%;
  text-align: center;
  z-index: 3;

}

.titlepics
{
  border: 2px solid black;
  border-radius: 100%;
}

#iamUNI
{
  top: 76%;
  font-size: 125%;
}

#pad
{
  padding-top: 4%;
}


.button1 {
    position: absolute;
    left: 45%;
    top: 58%;
    font-size: 150%;
    border: 2px solid black;
    background-color: #7343db;
    border-radius: 8px;
    color: white;
    text-decoration: none;
    padding: 4px 10px;
    margin: 2px 2px;
    cursor: pointer;

}
.button1:hover {

    color: black;
}

.button2 {
    position: absolute;
    left: 52%;
    top: 58%;
    font-size: 120%;
    border: 2px solid black;
    background-color: #7343db;
    border-radius: 8px;
    color: white;
    text-decoration: none;
    padding: 4px 10px;
    margin: 2px 2px;
    cursor: pointer;
}

.button2:hover {
    color: black;
}

.back {
  /*position: absolute;*/
  max-width: 100%;
  height: auto;
  opacity: 0.75;

}

.col {
    font-family: Palatino,"Palatino Linotype","Palatino LT STD","Book Antiqua",Georgia,serif;
    text-align: center;
    display: flex;
}

.column{
  width: 33%;
  align-self: center;
}

.header {
    background-color: #63B4D1;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0px;
    bottom: auto;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-weight: bold;
    color: black;
    text-shadow: 0px 0px 2px white;
    padding: 5px 20px 5px 40px;
    text-indent: 40px;
    white-space: pre-wrap;
    z-index: 5;
    box-shadow: 1px 2px 3px #D8D8D8;
    font-size: 115%;
}



.box {
  background-color: white;
  padding-bottom: 1%;
  padding-left: 8%;
  padding-right: 8%;
}

.intro
{
  font-family: Cambria, Georgia, serif;
  text-align: center;
  font-style: italic;
  /*font-weight: bold;*/
  font-size: 120%;
  color: #4109ba;
  padding-bottom: 1%;
  padding-top: 3%;
}

.about
{
  font-size: 120%;
  font-family: Verdana, Geneva, sans-serif;
  color: #12027c;
}


footer {
  /* Set font color to white */
  color: white;
  /* Set background color to black */
  background-color: black;
  /* Set padding on all sides to be 20 pixels */
  padding: 15px;
  /* Set text alignment to center */
  text-align: center;
  /* Set margin on top to be 60 pixels */
  margin-top: 0px;
}

/*For portfolio and experience pages*/

.titleP
{
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    position: absolute;
    font-size: 350%;
    color: black;
    text-shadow:  0 0 0.2em white, 0 0 0.2em white, 0 0 0.2em white, 0 0 0.2em white, 0 0 0.2em white;
    left: 5%;
    top: 5%;
}

.padP {padding-top: 12%;}

.boxP {
    display: inline-block;
    background-color: white;
    padding-bottom: 4%;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 2%;

}

#matbox
{
  padding-bottom: 20%;

}
