html {
  scroll-behavior: smooth;

}

body {
  margin: 0px;
  font-size: 20px;
  text-align: justify;

}
header {
  text-align: center;

}

main {
  max-width: 3000px;
  /* Set margin to be automatically calculated on all sides */
  margin: auto;
  /* Set padding to be 0 pixels top & bottom, and 20 pixels left & right *//*Padding is "body fat", whereas margins is "personal space" */
  padding: 0px 0px; /*top AND bottom 0px, left AND right 20px */
}

a
{
  color: inherit;
  text-decoration: none;
}

a:hover
{
  color: #12027c;
  opacity: 1;
}

.container {
    position: fixed;
      z-index: -1;
}

.iam {
    font-family: 'Open Sans',"Futura", "Trebuchet MS","Book Antiqua", Palatino, sans-serif;
    position: relative;
    left: 0;
    top: 70%;
    width: 100%;
    text-align: center;
    color: black;
    font-size: 150%;
    /*font-style: oblique;*/
   /*#87F;*/
    text-shadow:  0 0 0.2em white, 0 0 0.2em white, 0 0 0.2em white,0 0 0.2em white;
    font-weight: bolder;
    margin-bottom: 1%;

}
.title
{
    font-family: 'Open Sans',"Futura", "Trebuchet MS", Arial, sans-serif;
    position: relative;
    left: 0;
    top: -1%;
    width: 100%;
    text-align: center;
    font-size: 400%;
    color: black;
    text-shadow:  0 0 0.2em white, 0 0 0.2em white, 0 0 0.2em white,0 0 0.2em white;
    font-weight: 700;
}

.titlepic
{
  padding-top: 1%;
  text-align: center;
  z-index: 3;
  
}

.titlepics
{
  border: 2px solid black;
  border-radius: 100%;
  width: 23%;
}

#iamUNI
{
  margin-top: 0%;
  font-size: 125%;
  margin-bottom: 0%;
}

#pad
{
  padding-top: 4%;
}

.back {
  /* position: relative; */
  max-width: 100%;
  height: auto;
  opacity: 0.6;
  margin-top: -4%;
  padding-bottom: 10%;

}

.col {
    font-family: Palatino,"Palatino Linotype","Palatino LT STD","Book Antiqua",Georgia,serif;
    font-family: 'Open Sans',Verdana, Geneva, sans-serif;
    text-align: center;
    display: flex;
}

.column{
  width: 33%;
  align-self: center;
}

.header {
    background-image: linear-gradient(to right,rgb(99,180,209),  white);
    background-color: #63B4D1;
    /* background-image: url("img/blue.png") */
    width: 100%;
    position: fixed;
    top: 0;
    right: 0px;
    bottom: auto;
    /* font-family: Georgia, Times, "Times New Roman", serif; */
    font-family: 'Open Sans',Verdana, Geneva, sans-serif;
    font-weight: bold;
    color: black;
    text-shadow: 0px 0px 2px white;
    padding: 5px 20px 5px 40px;
    text-indent: 40px;
    white-space: pre-wrap;
    z-index: 5;
    box-shadow: 1px 2px 3px #D8D8D8;
    font-size: 115%;
}

.box {
  background-color: white;
  padding-bottom: 1%;
  padding-left: 8%;
  padding-right: 8%;
}

.intro
{
  font-family: Cambria, Georgia, serif;
  text-align: center;
  font-style: italic;
  /*font-weight: bold;*/
  font-size: 120%;
  color: #4109ba;
  padding-bottom: 1%;
  padding-top: 3%;
  /* margin-top: 0%; */
}

.about
{
  font-size: 120%;
  font-family: 'Open Sans',Verdana, Geneva, sans-serif;
  color: #12027c;
}

#eng_des
{
  /*padding-bottom: 1%;
  margin-left: -5%;*/
  font-size: 50%;
  
  text-shadow:  0 0 0.8em white, 0 0 0.8em white, 0 0 0.8em white, 0 0 0.8em white, 0 0 0.8em white, 0 0 0.8em white, 0 0 0.8em white, 0 0 0.8em white, 0 0 0.8em white, 0 0 0.8em white, 0 0 0.8em white, 0 0 0.8em white, 0 0 0.8em white, 0 0 0.8em white, 0 0 0.8em white; 
  /* width: 33%; */
  /* align-self: center; */
}
#portgap1 {
	padding-left:12%;
	display:inline;
}

#eng_des:hover
{
	cursor: pointer;
	
	text-shadow:  0 0 0.8em #fff080, 0 0 0.8em #fff080, 0 0 0.8em #fff080, 0 0 0.8em #fff080, 0 0 0.8em #fff080, 0 0 0.8em #fff080, 0 0 0.8em #fff080, 0 0 0.8em #fff080, 0 0 0.8em #fff080, 0 0 0.8em #fff080, 0 0 0.8em #fff080, 0 0 0.8em #fff080, 0 0 0.8em #fff080, 0 0 0.8em #fff080, 0 0 0.8em #fff080 !important;
}

#soft_dev
{
  /*padding-bottom: 1%;
  margin-left: -5%;*/
  font-size: 50%;
  text-shadow:   0 0 0.8em white, 0 0 0.8em white, 0 0 0.8em white, 0 0 0.8em white, 0 0 0.8em white, 0 0 0.8em white, 0 0 0.8em white, 0 0 0.8em white, 0 0 0.8em white, 0 0 0.8em white, 0 0 0.8em white, 0 0 0.8em white, 0 0 0.8em white, 0 0 0.8em white, 0 0 0.8em white;
  /* width: 33%; */
  /* align-self: center; */
}
#portgap2 {padding-left:5%; display:inline;}
#portgap3 {padding-right:10%; display:inline;}

#soft_dev:hover
{
	cursor: pointer;
	text-shadow:  0 0 0.8em #fff080, 0 0 0.8em #fff080, 0 0 0.8em #fff080, 0 0 0.8em #fff080, 0 0 0.8em #fff080, 0 0 0.8em #fff080, 0 0 0.8em #fff080, 0 0 0.8em #fff080, 0 0 0.8em #fff080, 0 0 0.8em #fff080, 0 0 0.8em #fff080, 0 0 0.8em #fff080, 0 0 0.8em #fff080, 0 0 0.8em #fff080, 0 0 0.8em #fff080 !important;
	
}

#portTitle
{
	padding-top:3%;
	padding-bottom:2%;
	padding-right:0%;
    text-align:left;
	/* display:inline-block; */
}
#portTitle > div {
    width: calc(100% / 6);  
    /* display: inline-block; */
    text-align:left;

}

#hide_eng
{
  font-weight: normal;
  width: 100%;
  /*display: none;*/
}

.titleP
{
    font-family: 'Open Sans',Futura, "Trebuchet MS", Arial, sans-serif;
    position: relative;
    font-size: 350%;
    color: black;
    text-shadow:  0 0 0.2em white, 0 0 0.2em white, 0 0 0.2em white, 0 0 0.2em white, 0 0 0.2em white;
    /* left: 5%;
    top: 5%; */
    padding-left: 3%;
	padding-right: 30%;
	/* max-width: 30%; */
	/* display: flex; */
}

.padP {padding-top: 12%;}

.boxP {
    display: inline-block;
    background-color: white;
    padding-bottom: 10%;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 1%;
	margin-bottom: -1%;
}

::-webkit-scrollbar { 
    display: none; 
}

#matbox
{
  padding-bottom: 20%;

}

.middlepic
{
  width: 80%;
  border-radius: 30%;
}

footer {
  /* Set font color to white */
  color: white;
  /* Set background color to black */
  background-color: black;
  /* Set padding on all sides to be 20 pixels */
  padding: 15px;
  /* Set text alignment to center */
  text-align: center;
  /* Set margin on top to be 60 pixels */
  margin-top: 0px;
}