h2
{
  padding-top: 4%;
  font-family: Verdana, Geneva, sans-serif;
  color: #12027c;
  font-weight: normal;
  font-size: 120%;
}

.portpics
{
  max-width: 30%;
  height: auto;
  opacity: 1;
  border: solid;
  border-radius: 40px;
}

img.portpics:hover
{
  opacity: 0.4;
  
}

.portpad{padding-right: 3%;}

.cont {
  position: relative;
  max-width: 30%;
  height: auto;
  z-index: 1;

}

.cent {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-weight: bold;
  color: #12027c;
  position: absolute;
  top: 0.2;
  bottom: 0;
  left: 0;
  right: 0;
  background: none;
  padding-bottom: 6%;
  /*padding-left: 55px;*/
  z-index: -1;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: visibility opacity 0.2s;
  
}
.cont:hover .cent {
  visibility: visible;
  opacity: 1;
}

#wind{padding-left: 5%;}
#solid{padding-left: 7%;}
#cpp{padding-left: 8%;}

