body {
  /* Set margin to 0 pixels on all sides */
  margin: 0px;
  /* Set font size to be 20 pixels */
  font-size: 20px;
  /* Set line height to be 1.5 times larger than default */
  line-height: 150%;
  /* Set font family to be Helvetica or Arial */
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;

 /* background-image: url('../img/background.jpg');
  background-size: contain;
  background-repeat: no-repeat; */


}
header {
   /*Set text alignment to center */
  text-align: center;
}

main {
  /* Set maximum width to be 800 pixels */
  max-width: 800px;
  /* Set margin to be automatically calculated on all sides */
  margin: auto;
  /* Set padding to be 0 pixels top & bottom, and 20 pixels left & right *//*Padding is "body fat", whereas margins is "personal space" */
  padding: 0px 20px; /*top AND bottom 0px, left AND right 20px */
}

/*.image
{
  position: absolute;
  width: 50%;
}*/

h3
{
  position: absolute;
  top: 200px;
  left: 0px;
  width: 100%;
}

img {

   
  max-width: 100%;

  /*position: absolute;
    top: 0px;
    left: 0px;*/
    /*z-index: 1; */
    /*margin: 0px 0px 0px 20px;*/
  
}

/* after page starts to move HI*/
.header {
    background-color: #ccc;
    width: 80%;						
    position: fixed;
    top: 0;
    right: 10%;
    bottom: auto;
}
/*.outer {
    background-color: red;
    position: relative;
    height: 30px;
}

 /*before page starts to move BYE*/
/*.outer .header {
    position: absolute;
    right: 10%;
    bottom: 0;
    /*z-index < 0 means behind text, z-index > 0 means in front of text*/
    /*z-index: 2;
    top: 0;
    left: 0px;

}*/

/*.pls
{
  padding: 750px 0px 0px 0px;

}
*/

/* Change font size as page size decreases*/
@media (max-width: 900px) {

  body {
    /* Set font size to be 80% of the normal size */
    font-size: 95%;
    background-color: yellow;
  }

}
@media (max-width: 850px) {

  body {
    /* Set font size to be 80% of the normal size */
    font-size: 92%;
    background-color: green;
  }

}
@media (max-width: 800px) {

  body {
    /* Set font size to be 80% of the normal size */
    font-size: 90%;
    background-color: blue;
  }

}
@media (max-width: 750px) {

  body {
    /* Set font size to be 80% of the normal size */
    font-size: 87%;
    background-color: pink;
  }

}
@media (max-width: 700px) {

  body {
    /* Set font size to be 80% of the normal size */
    font-size: 85%;
    background-color: purple;
  }

}
@media (max-width: 650px) {

  body {
    /* Set font size to be 80% of the normal size */
    font-size: 82%;
    background-color: red;
  }

}
@media (max-width: 600px) {

  body {
    /* Set font size to be 80% of the normal size */
    font-size: 80%;
    background-color: orange;
  }

}